### Topics to be covered today

In [2]:
topics = ['Numeric data type (Integer and Float)', 'Boolean', 'Operators']
for i,each in enumerate(topics,start=1):
    print ("{}.{}".format(i,each))

1.Numeric data type (Integer and Float)
2.Boolean
3.Operators

1a. Define variable and find data type

In [3]:
input1 = 20
print(type(input1))
# Pass a decimal value
input2 = 3.14
print(type(input2))

<class 'int'>
<class 'float'>

 1b. Casting (Changing) to a different datatype

In [4]:
new_i1 = float(input1)
print(new_i1)

20.0

In [5]:
type(input2)

float

In [6]:
new_i2 = int(input2)
print(new_i2)

3

In [7]:
#What if it is 3.94
input3 = 3.94
new_i3 = int(input3)
print(new_i3)

3

1. Boolean Operator

In [8]:
#boolean
print(input1 < input2)

False

In [9]:
print(bool(input1))

True

In [10]:
input4 = None
print(bool(input4))

False

In [11]:
input5 = [1,2,3,4,5]
print(bool(input5))
#now create an emply array
input6 = []
print(bool(input6))

True
False

In [12]:
a = None
print(bool(a))
# pass with 0, None and None1 as string

False

3a. Arthimetic operator 
To Try - Division, addition, subtraction, mod and exp

In [15]:
#Operators
#Arithmetic Operators
x = 11
y = 2
print(x%y)
print(x+y)
print(x-y)

1
13
9

3b. Assignment Operator

In [16]:
#Assignment Operators
x = 10
x **= 3
#x=x+3
print(x)

1000

3c. Comparison Operator

In [17]:
#Comparison Operators
x = 11
y = 2
print(x<=y)
# Equal, Not Equal, Greater than, less than, Greater or equal and less than equal

False

3d. Logical Operator

In [18]:
#Logical Operators
x = 5
print(x > 10 or x < 15)
# or and not

True

3e. Is and In Operators

In [19]:
# is and in operators
x = ['addition', 'subtraction', 'multiplication', 'division']
y = ['addition', 'subtraction', 'multiplication', 'division']
z = y
print(x is y)
print("addition" in x)
#print(z)

False
True

Create a float variable and convert it to integer

In [22]:
a = 7.5
type(a)

float

In [24]:
b = int(a)
type(b)

int

Multiple a float value with integer and check the data type of the resultant value

In [25]:
c = a * b
c

52.5

In [26]:
type(c)

float

Create 2 variable with a integer and float value and use Boolean to check if the first one is greater than the second variable

In [27]:
a > b

True