### Creating variables and checking their basic data types
#### Variable is a name that is used to refer to memory location. Python variable is also known as an identifier and used to hold value.

##### In Python, we don't need to specify the type of variable because Python is a infer language and smart enough to get variable type.

##### Variable names can be a group of both the letters and digits, but they have to begin with a letter or an underscore.

##### It is recommended to use lowercase letters for the variable name. Rahul and rahul both are two different variables.

In [2]:
#Python String can be declared either by using double " " or single ' ' quotes as given below and 
#a function named type() is used to know the type of variable.
a = 'Abhi'
b = "Amit"
print(a)
print(b)
print(type(a))
print(type(b))

Abhi
Amit
<class 'str'>
<class 'str'>

In [3]:
#Python support two types of numbers Integers(Whole Numbers) and floating point(Decimal) numbers :- 
c = 4
d = 8.0
e = float(9)
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))

4
<class 'int'>
8.0
<class 'float'>
9.0
<class 'float'>

### Casting

In [6]:
#To specify the data type of a variable, this can be done with casting :-
f = str(24)
g = float(17)
h = int(4)
print(f)
print(g)
print(h)
print(type(f))
print(type(g))
print(type(h))

24
17.0
4
<class 'str'>
<class 'float'>
<class 'int'>

### Changing data types :- Strings to Numeric data type and vice versa

In [14]:
# First give a value to variable i and check it's type again change the type and print it 
i = "88"
print(i)
print(type(i))
i = int("88")
print(i)
print(type(i))
i = str(88)
print(i)
print(type(i))

88
<class 'str'>
88
<class 'int'>
88
<class 'str'>

### Changing data types :- Integer to Float data type and vice versa

In [15]:
j = 95
print(j)
print(type(j))
j = float(95)
print(j)
print(type(j))
k = 95.7
print(k)
print(type(k))
k = int(95.7)
print(k)
print(type(k))

95
<class 'int'>
95.0
<class 'float'>
95.7
<class 'float'>
95
<class 'int'>

### String as arrays
#### An array is defined as a collection of items that are stored at contiguous memory locations. It is a container which can hold a fixed number of items, and these items should be of the same type.
#### Array is an idea of storing multiple items of the same type together and it makes easier to calculate the position of each element by simply adding an offset to the base value. A combination of the arrays could save a lot of time by reducing the overall size of the code. It is used to store multiple values in single variable.

In [17]:
l = "Learn data science in 100 days! with RSharan"
print(l[0:6])

Learn

In [18]:
print(l[5:])

 data science in 100 days! with RSharan

In [20]:
print(l[-12:])

with RSharan

#### Strip() - to remove extra spaces in the beginning and end

In [21]:
m = "    Data Science     "
print(m)
m1 = m.strip()
print(m1)

    Data Science
Data Science

#### split() and Splitting a Decimal number

In [26]:
n = "2020-09-01"
print(n.split("-"))

['2020', '09', '01']

In [28]:
import math
o = 12.87654321
print(o)
print(type(o))
o1 = math.modf(o)

print(n1)

12.87654321
<class 'float'>
(0.8765432099999995, 12.0)

### Concatenation :- It includes the operation of joining two or more strings together.

In [30]:
p1 = "Data Science"
p2 = "And Machine Learning"
p3  = p1+" "+p2
print(p3)

Data Science And Machine Learning

#### Replacing text

In [31]:
txt1 = "As data scientists, our job is to extract signal from noise. signal signal signal"
new_txt = txt1.replace("signal", "information", 2)
print(new_txt)

As data scientists, our job is to extract information from noise. information signal signal